<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sim as a Service</title>

        <link rel="shortcut icon" href="{{ static_url("img/favicon.ico") }}"/>

        <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
        <link rel="stylesheet" href="{{ static_url("node_modules/jquery-ui/jquery-ui.min.css") }}">
    </head>

    <body>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-1">
        <br/>
        <img class="img-responsive center-block logo-left" src="{{ static_url("img/processor1.png") }}" alt="cpu logo 1">
    </div>
    <div class="col-xs-6">
        <br/>
        <h1 class="text-primary text-center">Simon - Multicore Process Simulator</h1>
        <br/>
    </div>
    <div class="col-xs-1">
        <br/>
        <img class="img-responsive center-block logo-right" src="{{ static_url("img/processor2.png") }}" alt="cpu logo 2">
    </div>
    <div class="col-xs-2"></div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-center">
            <li><a href="/system">System Status</a></li>
            <li class="active"><a href="/queue">Jobs Queue</a></li>
        </ul>
    </div>
</div>

<div class="row main system">
    <center>
    <h4 id="queue-into">This page shows the different Queued jobs as of now in the simulator.</br>
       Each has a time stamp of when it was received and clicking on it gives the static config file.</h4>
    </center>

    <center>
    <ul id="list_queues">
        {% for job in configs %}
            {% if job['name'] == 'carbon_sim.cfg' %}
                <li><a href="{{job['name']}}">{{job['name']}} - {{job['time']}} - running</li>
            {% else %}
                <li><a href="{{job['name']}}">{{job['name']}} - {{job['time']}} - Waiting</li>
            {% end %}
        {% end %}
    </ul>
    </center>
</div>

    <script type="text/javascript" src="{{ static_url("node_modules/jquery/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("node_modules/jquery-ui/jquery-ui.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("node_modules/jquery-ui/jquery-ui-timepicker-addon.min.js") }}"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ static_url("node_modules/smoothie/smoothie.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/app.js") }}"></script>
    </body>
</html>
